*{
	margin: 0;
	padding: 0;
}

nav{
display: flex;
justify-content: space-between;
background: #F27982;
height: 150px;
width: 100%;
align-items: center;
}

nav .logo{
	color: white;
	font-size: 30px;
	font-weight: 600;
}

nav .logo img{ height: 150px;
width: 150px; }
nav ul{
	display: flex;
	list-style: none;
}

nav ul li{
	margin-right: 15px;
	margin-left: 15px;
}

nav ul li a{
	text-decoration: none;
	font-size: 25px;
	color: white;
	font-weight: 900;
	padding: 8px 15px;
	border-radius: 5px;
}

nav ul li a:hover{
	background:white;
	color:black;
}

.banner-img {
	background-image: url("../img/banner.jpg");
	height: 700px;
	background-size: cover;
text-align: center;
}

.banner-title{
	padding-top: 300px;
}

.banner-title h1{
	font-size:45px;
	color:white;

}

.btn-banner{
	margin: 15px;
	padding: 15px 20px;
	border-radius: 15px;
	background:#F7CFD0 ;
}
.btn-banner:hover{
	background:#F0AAB5 ;
}

/*Start of main body*/

.home-post{
	width: 60%;
	height: 2200px;
	background-color: #F0DFDC;
	display: inline-block;
}


.sidebar{
	width: 40%;
	height:2200px;
	background-color: #F7F7F7;
	display: inline-block;
	float: right;
}

.first-img{
	padding-left: 150px;
	padding-top: 40px;
	padding-bottom: 30px;
}
 .first-head{
 	padding: 10px 20px;
 	font-size:25px;
 }

 .first-abs{
 	padding: 10px 20px;
 	font-size:18px;

 }

 .read-more{
 	padding: 10px 20px;
 	background: skyblue;
 	margin: 10px 20px;
 }
  hr{
  	margin: 5px 15px;
  }

  .publisher{
  	display: flex;
  	justify-content: space-around;
  }

.cat-title{
	font-size: 25px;
	margin: 20px;
}

.cat-btn{
	padding: 10px 25px;
	margin: 6px 25px;
	background: #85C1E9;
	border-radius: 25px;
}

.cat-btn:hover{
	background: #D6EAF8;
}


.plr-pst h1{
	font-size: 25px;
	margin: 20px;
}

.plr-pst .plt-img{
	width: 60%;
	padding: 25px 150px;
}

.plr-pst h3{
	text-align: center;
	margin-bottom: 60px;
}

.footer-items{
	background-color: #F5DFE7;
	height: 50px;
	margin-top: 50px;
	text-align: center;
	padding-top: 25px;
	font-size: 15px;
}